@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>Başlık</th>
		<th>Oran</th>
		<th>Sil</th>
		<th>Düzenle</th>
	</tr>
<<<<<<< HEAD
=======

>>>>>>> 1d729216b85ef615873bd070928f73b82056f2d8
	<tr>
		<td>1</td>
		<td>Sql</td>
		<td>95</td>
		<td> <a href="#" class="btn btn-danger">Sil</a> </td>
		<td> <a href="#" class="btn btn-warning">Güncelle</a> </td>
	</tr>
	<tr>
		<td>1</td>
		<td>Sql</td>
		<td>95</td>
		<td> <a href="#" class="btn btn-danger">Sil</a> </td>
		<td> <a href="#" class="btn btn-warning">Güncelle</a> </td>
	</tr>
	<tr>
		<td>1</td>
		<td>Sql</td>
		<td>95</td>
		<td> <a href="#" class="btn btn-danger">Sil</a> </td>
		<td> <a href="#" class="btn btn-warning">Güncelle</a> </td>
	</tr>
	<tr>
		<td>1</td>
		<td>Sql</td>
		<td>95</td>
		<td> <a href="#" class="btn btn-danger">Sil</a> </td>
		<td> <a href="#" class="btn btn-warning">Güncelle</a> </td>
	</tr>
	<tr>
		<td>1</td>
		<td>Sql</td>
		<td>95</td>
		<td> <a href="#" class="btn btn-danger">Sil</a> </td>
		<td> <a href="#" class="btn btn-warning">Güncelle</a> </td>
	</tr>
	<tr>
		<td>1</td>
		<td>Sql</td>
		<td>95</td>
		<td> <a href="#" class="btn btn-danger">Sil</a> </td>
		<td> <a href="#" class="btn btn-warning">Güncelle</a> </td>
	</tr>
	<tr>
		<td>1</td>
		<td>Sql</td>
		<td>95</td>
		<td> <a href="#" class="btn btn-danger">Sil</a> </td>
		<td> <a href="#" class="btn btn-warning">Güncelle</a> </td>
	</tr>
	<tr>
		<td>1</td>
		<td>Sql</td>
		<td>95</td>
		<td> <a href="#" class="btn btn-danger">Sil</a> </td>
		<td> <a href="#" class="btn btn-warning">Güncelle</a> </td>
	</tr>
</table>